run = "python app.py"
modules = ["python-3.11"]

[workflows]

[[workflows.workflow]]
name = "Run"
author = 40488393
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80
